@model Exchange 
@{
    ViewData["Title"] = "Lançar Câmbio";
}
<br />
<br />
<br />
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="inline">
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GrossValue" class="control-label"></label>
                <input asp-for="GrossValue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cotation" class="control-label"></label>
                <input asp-for="Cotation" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Comission" class="control-label"></label>
                <input asp-for="Comission" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NetAdvisorValue" class="control-label"></label>
                <input asp-for="NetAdvisorValue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a asp-action="Index" class="btn">Voltar</a>
            </div>
        </form>
    </div>
</div>