@model Exchange
@{
    ViewData["Title"] = "Editar Comissão Câmbio";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GrossValue" class="control-label"></label>
                <input asp-for="GrossValue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cotation" class="control-label"></label>
                <input asp-for="Cotation" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ComissionType" class="control-label"></label>
                <input asp-for="ComissionType" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Spread" class="control-label"></label>
                <input asp-for="Spread" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Comission" class="control-label"></label>
                <input asp-for="Comission" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NetValue" class="control-label"></label>
                <input asp-for="NetValue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>


</div>
